{% extends "BlogApplication/Base/Base.html" %} {% block container %}
<div></div>
{% if success %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong class="text-center">Success</strong>
  :Your task has been added to the list
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endif %}
<div class="container my-3">
  <h2 class="text-center">
    Add task
  </h2>

  <form method="post" action="{% url 'addPost' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="title" class="form-label">
        Task Title
      </label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea
        class="form-control"
        id="content"
        name="content"
        cols="30"
        rows="10"
      ></textarea>
    </div>
    <input type="submit" class="btn btn-primary" name="action" value="Add" />
    <input
      type="submit"
      class="btn btn-danger"
      name="action"
      value="Save Draft"
    />
  </form>
</div>

{% endblock %}
