{% extends "BlogApplication/Base/Base.html" %} 
{% block container %}
  <div class="container">
    <h1>Edit Task</h1>
    <form method='post'>
        {% csrf_token %}
      <div class="form-group">
        <label for="taskTitle">Task Title</label>
        {{form.title}}
      </div>
      <div class="form-group">
        <label for="taskDescription">Task Description</label></br>
        {{form.content}}
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
      <a href = "{%url 'delete' pk=postID%}" class="btn btn-danger mx-1">Delete This Post</a>
    </form>
  </div>
{% endblock %}
