{% extends "BlogApplication/Base/Base.html" %} 
{% block container %}
  <div class="container">
    <h1>Edit Category</h1>
    <form method='post'>
        {% csrf_token %}
      <div class="form-group">
        <label for="categoryName">Category Name</label>
        {{form.name}}
      </div>
      <div class="form-group">
        <label for="categoryDescription">Category Description</label></br>
        {{form.description}}
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
      <a href = "{%url 'deleteCategory' pk=categoryID%}" class="btn btn-danger mx-1" onclick="return confirm('Are you sure you want to delete this post?');">Delete Category</a>
    </form>
  </div>
{% endblock %}
