{% extends 'BlogApplication/Base/Base.html' %} {% block container %}
  <div class="card bg-transparent container mt-15">
    <div class="card-header bg-transparent text-center">
      <h3 class="text-warning">Alert</h3>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p class="text-white text-center">You have been looged out</p>
        <div class="bg-transparent d-flex justify-content-between p-3">
          <a class="btn edt" href="{% url 'login' %}">Login</a>

          <a class="btn dlt" href="{% url 'userSignUp' %}">Register</a>

          <a class="btn edt" href="{% url 'posts' %}">Posts</a>
        </div>
      </blockquote>
    </div>
  </div>
{% endblock %}
