{% extends "BlogApplication/Base/Base.html" %}
{% block container %}
<div class="card container w-50 mt-4">
    <div class="card-header bg-info">
      <h4>Alert</h4>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>You have been looged out</p>
        <div class="bg-light d-flex justify-content-between p-3 px-5">
            <a class="nav-link active" href="{%url 'userLogin'%}">Login</a>
          
          
            <a class="nav-link active" href="{%url 'userSignUp'%}">Register</a>

            <a class="nav-link active" href="{%url 'posts'%}">Posts</a>
           </div>
      </blockquote>
    </div>
  </div>
{% endblock container %}


