{% extends 'BlogApplication/Base/Base.html' %}
{% block container %}
  <div class="my-3 shadow">
    <div>
      <h4 class="mb-3">Sign Up Page</h4>
      <form id="SIform" method="POST" action="{% url 'userSignUp' %}">
        {% csrf_token %}
        <div class="form-group mb-4">
          <label for="id_username">Username</label>
          <input type="text" name="username" class="form-control text-light" required />
        </div>
        <div class="form-group mb-4">
          <label for="id_password1">Password</label>
          <input type="password" name="password1" class="form-control text-light" required />
          <ul id="warn" class="text-warning" style="display: none;">
            <li>Minimum Length: 8 characters</li>
            <li>At least one uppercase letter</li>
            <li>At least one lowercase letter</li>
            <li>At least one digit (0-9)</li>
            <li>At least one special character</li>
          </ul>
        </div>
        <div class="form-group mb-4">
          <label for="id_password2">Confirm Password</label>
          <input type="password" name="password2" class="form-control text-light" required />
          <ul id="warn2" class="text-warning" style="display: none;">
            <li>Passwords do not match</li>
          </ul>
        </div>
        <input id="submitBtn" class="btn edt w-25" type="submit" value="Sign Up" />
      </form>
    </div>
  </div>
{% endblock %}
